/*
 *  Owl Carousel - Core
 */
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
	padding: 60px 0;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
		touch-action: manipulation;
		-moz-backface-visibility: hidden; /* fix firefox animation glitch */
	}

	.owl-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.owl-stage-outer {
		position: relative;
		overflow: hidden;
		/* fix for flashing background */
		-webkit-transform: translate3d(0px, 0px, 0px);
		padding: 0 0 25px;
		margin: 0 100px;

		@media screen and (max-width: 1145px) {
			margin: 0;
		}
	}

	.owl-wrapper,
	.owl-item{
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;

		.item{
			padding-bottom: 30px;
			border-radius: 15px;
			background-color: $whiteGrayFirst;
			transition: all ease-in-out .5s;
			&:hover{
				box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);  
			}
		}
	}
	.owl-item img {
		display: block;
		width: 100%;
	}

	.owl-nav.disabled,
	.owl-dots.disabled {
		display: none;
	}

	.owl-nav .owl-prev,
	.owl-nav .owl-next,
	.owl-dot {
		cursor: pointer;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline: none;
		transition: all ease-in-out .5s;
	}

	.owl-nav .owl-prev{
		top: 50%;
		left: 0;
		&::after{
			position: absolute;
			top: 50%;
			left: 14px;
			width: 20px;
			height: 20px;
			background-color: #292929;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			content: "";
			mask-image: url(../img/icons/sprite.svg#long-left-arrow);
		}

		@media screen and (max-width: 1145px) {
			position: relative;
		}
	}
	.owl-nav .owl-next{
		top: 50%;
		right: 0;
		&::after{
			position: absolute;
			top: 30%;
			left: 14px;
			width: 20px;
			height: 20px;
			background-color: #292929;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			transform: rotate(180deg);
			content: "";
			mask-image: url(../img/icons/sprite.svg#long-left-arrow);
		}
		@media screen and (max-width: 1145px) {
			position: relative;
		}
	}

	.owl-nav button.owl-prev,
	.owl-nav button.owl-next,
	button.owl-dot {
		background: transparent;
		color: inherit;
		border: none;
		padding:0!important;
		font: inherit;
		width: 50px;
		height: 50px;
		border: 2px solid $beige;
		border-radius: 50%;
		position: absolute;
		@media screen and (max-width: 1145px) {
			position: relative;
			margin: 0 25px;
		}
	}

	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		visibility: hidden;
	}

	&.owl-drag .owl-item {
		touch-action: pan-y;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}
