//Colours should always only appear in this colours.scss
$white: #fff;
$whiteGrayFirst: #fafafa;
$whiteGray: #f6f6f6;
$gray: #545454;
$grayReal: #b2b2b2;
$grayDark: #292929;
$grayMiddle: #4c4c4c;
$grayLight: #cdcdcd;
$beige: #f1cdb3;
$beigeLight:#fddcc4;
$color-bodyText: $grayMiddle;
$color-titleText: $gray;
$color-primary: $beige;
$color-secondary: $grayLight;