//FONT FAMILIES
$font-base: "Georgia";
$font-paragraph: "Arial";
$font-span: "Times_New_Roman";
//FONT SIZES
$fontSize-min: 12px;
$fontSize-xsmall: 13px;
$fontSize-small: 15px;
$fontSize-base: 17px;
$fontSize-medium: 20px;
$fontSize-large: 24px;
$fontSize-xlarge: 32px;
$fontSize-larger: 35px;
$fontSize-largest: 44px;
//FONT WEIGHTS
$fontWeight-normal: 300;
//LINE HEIGHTS
$lineHeight-base: 1.29;
$lineHeight-big: 1.6;
//FONTS STYLES
$fontStyle-italic: italic;